body {
    background-color: #ec7a37;
}
@media screen and (max-width: 1080px) {
    body {
        background-color: #9a6054;
    }
}
@media screen and (max-width: 550px) {
    body {
        background-color: #871321;
    }
}
@media screen and (max-width: 400px) {
    body {
        background-color: #4b122e;
    }
}
